.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Example CSS for raindrops */
@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.raindrop {
  width: 2px;
  height: 10px;
  background-color: rgba(255, 255, 255, 1); /* Ensure this color is visible against your hero section's background */
  position: absolute;
  top: -10px; /* Starting above the viewport */
  animation: fall linear infinite; /* Make sure to include 'infinite' if you want continuous rain */
}

a:hover {
  color: #4FD1C5; /* Light blue for visibility */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}